.main-old {
  margin: 50px 0px;

  /*   position: absolute; */
  /*   margin: 50px 50px;
  position: static; */

  width: 896px;
  height: 280px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 4px 4px 18px 1px rgba(41, 88, 128, 0.15);
  border-radius: 12px;
}
.company-heading {
  position: static;
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 600px;
  /* height: 100px; */
  /* left: 0px; */
  /* top: 0px; */
  font-weight: 700;
  font-size: 19px;
  color: #41337a;
  margin-top: 20px;
  margin-left: 25px;
}

.posted-by-system {
  position: static;
  width: 98px;
  height: 16px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #232c33;
  opacity: 0.6;
  /* margin: 6px 0px; */
  margin-left: -751px;
  margin-bottom: 10px;
  margin-bottom: 10px;
}

.main-content {
  position: static;
  display: flex;
  flex-direction: row;
  width: 848px;
  height: 57px;
  left: 0px;
  top: 80px;
  text-align: left;
  margin-left: 25px;
  margin-top: 4px;
}

.detail-tag {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.bottom{
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 300px;
  height: 56px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.bottom > img {
  position: static;
  width: 32px;
  height: 32px;
  left: 10px;
  top: 10px;
  border-radius: 24px;
  flex: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 20px;
}

.numberOfDays {
  position: static;
  width: 67px;
  height: 16px;
  left: 797px;
  top: 225px;
  text-align: right;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #232c33;
  opacity: 0.6;
  margin-left: 200px;
}

.name {
  position: static;
  width: 243px;
  height: 19px;
  font-size: 14px;
  color: #232c33;
  flex: none;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
}
